/* OrderHistory.css */
.orderlist {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table {
    border-collapse: collapse;
    width: 80%;

  }
  
  .table th,
  .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    color: #333; /* Couleur du texte */

  }
  
  .table th {
    background-color: forestgreen;
    color: rgb(197, 194, 194);
  }
  
  .table tr:nth-child(even) {
    background-color: #d1c9c9;
  }
  
  .table tr:hover {
    background-color: rgb(0, 117, 6);
  }
  /* OrderHistory.css */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Ajoutez une marge en haut pour espacer la table du haut de la page */
  }
  