html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  height: 80vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("C:\Users\toschiba\Desktop\projet-final\project1\frontend\src\back\wamiapsd.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #949393;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  /* grid-template-rows: 5rem 1fr 5rem; */
  height: 200%;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  grid-area: header;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main {
  grid-area: main;
}


footer {
  margin-bottom: -230px;
  height: 250px;
  bottom: 0;
  top: 0;
  right: 10;
  left: 0;
  z-index: 1030;
  grid-area: footer;
  color: #ffffff;
}
/* Common */
/* Titre principal */
h1 {
  font-size: 2.5rem; /* Taille de la police */
  padding: 1rem 0; /* Espacement autour du titre */
  text-align: center; /* Alignement centré */
  
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
.reg {
  background-color: #f3f5f7;
  padding: 20px;
  margin: 0 auto; /* Center horizontally */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Optional: Set a maximum width */
  text-align: center; /* Center the text inside */
}

.reg h3 {
  /* Your custom styles for the h3 element */
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #333; /* Example color */
  font-weight: bold;
  /* Add any other styles you want */
  text-align: center; /* Center-align the text */

}
.caca {
  display: flex;
justify-content: center; /* Centrage horizontal */
align-items: center; /* Centrage vertical */
margin-left: auto;
margin-right: auto;
}
.reg h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}



a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #a19b9b solid;
}
button.btn-success {
  /* background-color: #95a595; */
  margin-bottom: 10px;
  background-color: DodgerBlue

  ;
  /* background-color: #370028; */
}
button.block {
  width: 100%;
}
/* Style de base pour le bouton */
.modifier-button {
  background-color: #ff9800; /* Couleur de fond */
  border: none; /* Pas de bordure */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Remplissage */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Pas de soulignement */
  display: inline-block; /* Affichage en ligne */
  font-size: 16px; /* Taille de la police */
  cursor: pointer; /* Curseur */
  border-radius: 5px; /* Bordure arrondie */
}

/* Style au survol */
.modifier-button:hover {
  background-color: #ff9900; /* Couleur de fond au survol */
}

/* Style lorsque le bouton est pressé */
.modifier-button:active {
  background-color: #ff9900; /* Couleur de fond au clic */
}

/* Style pour l'avertissement */
.modifier-button.warning {
  background-color: #ffc400; /* Couleur de fond */
}

/* Style pour l'avertissement au survol */
.modifier-button.warning:hover {
  background-color: #ffc400; /* Couleur de fond au survol */
}

/* Style pour l'avertissement lorsque le bouton est pressé */
.modifier-button.warning:active {
  background-color: #ffd000; /* Couleur de fond au clic */
}

/* Style de base pour le bouton */
.supprimer-button {
  background-color: #f44336; /* Couleur de fond */
  border: none; /* Pas de bordure */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Remplissage */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Pas de soulignement */
  display: inline-block; /* Affichage en ligne */
  font-size: 16px; /* Taille de la police */
  cursor: pointer; /* Curseur */
  border-radius: 5px; /* Bordure arrondie */
}

/* Style au survol */
.supprimer-button:hover {
  background-color: #d32f2f; /* Couleur de fond au survol */
}

/* Style lorsque le bouton est pressé */
.supprimer-button:active {
  background-color: #b71c1c; /* Couleur de fond au clic */
}
/* Style de base pour le bouton */
.mise-a-jour-button {
  background-color: #4caf50; /* Couleur de fond */
  border: none; /* Pas de bordure */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Remplissage */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Pas de soulignement */
  display: inline-block; /* Affichage en ligne */
  font-size: 16px; /* Taille de la police */
  cursor: pointer; /* Curseur */
  border-radius: 5px; /* Bordure arrondie */
  width: 100%;
}

/* Style au survol */
.mise-a-jour-button:hover {
  background-color: #45a049; /* Couleur de fond au survol */
}

/* Style lorsque le bouton est pressé */
.mise-a-jour-button:active {
  background-color: #398438; /* Couleur de fond au clic */
}
/* Style du bouton Info */
.button-info {
  background-color: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px; /* Taille de la police */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-info:hover {
  background-color: #138496;
}


/* Style de la table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

/* Style des lignes d'en-tête */
.table th {
  background-color: #bbbbbb; /* Couleur de fond */
  color: #333; /* Couleur du texte */
  padding: 12px; /* Espacement interne */
  text-align: left; /* Alignement du texte */
  border-bottom: 2px solid #ddd; /* Ligne de séparation en bas */
}

/* Style des cellules */
.table td {
  color : #000000 ;
  padding: 8px; /* Espacement interne */
  border-bottom: 1px solid rgb(167, 167, 167); /* Ligne de séparation entre les lignes */
}

/* Style pour les lignes impaires */
.table tr:nth-child(odd) {
  background-color: #9c9c9c; /* Couleur de fond */
}

/* Style pour les boutons dans la dernière colonne */
.table .actions button {
  background-color: #4caf50; /* Couleur de fond */
  color: rgb(182, 140, 140); /* Couleur du texte */
  border: none; /* Suppression de la bordure */
  padding: 8px 16px; /* Espacement interne */
  cursor: pointer; /* Curseur au survol */
  border-radius: 4px; /* Coins arrondis */
  transition: background-color 0.3s; /* Transition fluide */
}

/* Style pour les boutons au survol */
.table .actions button:hover {
  background-color: #45a049; /* Couleur de fond au survol */
}

/* Style de base pour la table */
.admin-table {
  width: 100%;
  border-collapse: collapse;
}

/* Style de l'en-tête de la table */
.admin-table th {
  background-color: #c3c3c3;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Style des lignes de la table */
.admin-table tr {
  border-bottom: 1px solid #ddd;
}

/* Style des cellules de la table */
.admin-table td {
  padding: 10px;
}

/* Style des cellules de la table dans la dernière colonne */
.admin-table td:last-child {
  text-align: center;
}

/* Style des liens dans la table */
.admin-table a {
  color: #007bff;
  text-decoration: none;
}

/* Style des liens au survol */
.admin-table a:hover {
  text-decoration: underline;
}



/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
.Montserrat {
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300;
}
.badge {
  background-color: #f02020;
  color: #e0e0ff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* .row.center {
  width: 100%;
  justify-content: space-between;
  display: flex;
  border-radius: 10em;
} */
.row.top {
  flex: 1;
  margin: 40px 20px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.row.top1 {
  /* align-items: flex-start; */
  flex: 1;
  margin: 40px 20px;
  padding: 60px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.back {
  color: white;
  margin-left: 20px;
}

.col-1 {
  /* flex: 1 1 40rem; */
  height: 280px; /* Adjust the height of the card to make it a little smaller */
  width: 250px;
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.col-2 {
  /* flex: 2 1 30rem;
  margin-left: 5%;
  margin-right: 5%; */
  width: 300px;
  height: 200px;
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.col-3 {
  /* flex: 2 1 30rem; */
  width: 300px;
  height: 200px;
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.col-4 {
  flex: 1 1 70rem;
}
.col-5 {
  /* flex: 1 1 30rem; */
  width: 200px;
  height: 130px;
  flex: 1;
  /* margin: 0px 20px; */
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #4b1616;
  margin-left: 2%;
  background-color: rgba(27, 27, 27, 0.6);
  margin-top: 60px;
}

.col-6 {
  /* flex: 2 1 30rem; */
  width: 300px;
  height: 300px;
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.min-30 {
  min-width: 30rem;
}
.titleItem {
  color: wheat;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
}
img.medium {
  height:230px;
  width: 230px;
  border-radius: 20%;
  border: 5px solid rgb(82, 80, 80);
  margin-top: 20px;
  box-shadow: 0 10px 50px rgb(163, 161, 161);
}
img.large {
  height: 280px; /* Adjust the height of the card to make it a little smaller */
  width: 250px;
}
img.large1 {
  height: 300px; /* Adjust the height of the card to make it a little smaller */
  width: 280px;
}

/* Card */

.card {
  margin-left: 10px;
  border: 0.1rem #c0c0c0 solid;
  /*background-color: #f8f8f8; 
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #080808;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white; */
  /* margin: 2%; */
  /* width: 22%; */
}

.card1 {
  border: 0.1rem #4b4b4b solid;
  /* background-color: #f8f8f8; */
  border-radius: 0.5rem;
  margin: 10rem 1rem 1rem 1rem;
  background-color: #dad6d6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: rgb(65, 64, 64);
  /* margin: 2%; */
  width: 22%;
}
.card2 {
  background-color: rgba(9, 114, 88, 0.4);
  padding: 1rem;
  border-radius: 1rem;
  margin: 15px 15px 15px 15px;
  width: 400px;
}
.card-body {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 1rem;
  margin: 15px 15px 15px 15px;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.card-bod > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span:last-child {
  color: #9e2727;
}
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}


/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #7120a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Style du formulaire */
.form {
  max-width: 600px; /* Increase the maximum width */
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style du titre */
.form h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

/* Style des champs */
.form label {
  display: block;
  margin-bottom: 1rem;
  color: #555;
}

.form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
/* Style des champs */
.form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Style du placeholder */
.form input::placeholder {
  font-size: 1.2rem; /* Adjust the font size as needed */
}

/* Style du bouton */
.form button {
  width: 100%;
  padding: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #0056b3;
}

/* Style des messages d'erreur */
.form .error-message {
  color: #dc3545;
  margin-top: 0.5rem;
}

/* Style du lien de récupération de mot de passe */
.form .forgot-password-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #007bff;
}

.form .forgot-password-link:hover {
  text-decoration: underline;
}

.dropdown {
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 14rem;
  padding: 1rem;
  z-index: 1;
  background-color: #161815;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

}

/* Style des lignes de la table */
.table tr {
  background-color: #f4f4f4;
}

/* Style des cellules de la table */
.table td,
.table th {
  text-align: center;
  border: 1px solid #e4e4e4;
  padding: 10px;
}

/* Style des boutons dans la table */
.table button {
  margin: 5px 0.2rem;
}

.productHome {
  border-radius: 10px;
  box-shadow: 5px 5px 15px 15px #23004b;
  margin: 3% 3% 3% 3%;
  background: linear-gradient(
    to bottom,
    rgb(47, 48, 48) 1%,
    rgb(255, 255, 255) 99% 
  );
  margin-top: 200px;
}
.carousel-container {
  position: absolute;
  top: 80px; /* ajustez cette valeur en fonction de la hauteur de votre header */
  width: 100%;
  z-index: 1; /* assurez-vous que le carousel est au-dessus du contenu */
}
.productlist {
  background-color: rgba(0, 0, 0, 0.4);
  /* text-align: center; */
  border-radius: 20px;
  text-align: center;

  padding: 10%;
  margin: 0 10%;
  width: 800px;
}
.prodtext {
  color: #ffffff;
}
.prod {
  color: #614e1a;
}

.circular-image {
  width: 150px; /* Adjust the width and height as needed */
  height: 150px;
  border-radius: 50%; /* Make it round */
  object-fit: cover; /* Maintain aspect ratio */
}

.orderlist {
  background-color: rgba(0, 0, 0, 0.4);
  /* text-align: center; */
  border-radius: 20px;

  padding: 10%;
  margin: 0 10%;
  width: 800px;
}
.ordertext {
  color: #ffffff;
}
h1,
.newCust {
  color: #95a595;
}
.order,
label {
  color: white;
}
.newCust {
  margin-bottom: 20px;
}
.orderHistory {
  color: #614e1a;
}
.section-dark {
  position: relative;
}

.page-header {
  background-color: #b2afab !important;
  /* filter: brightness(40%); */
  /* background-position: center center;
  background-size: cover; */
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  animation: cloudLoop 80s linear infinite;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.text {
  color: black;
}

@keyframes cloudLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.content-center {
  position: absolute;
  top: 30%;
  left: 16%;
  z-index: 1;
  margin-top: 85px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title-brand {
  max-width: 730px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #ffffff;
  display: block;
}

.presentation-title {
  filter: brightness(400%);
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  margin-left: 60px;
  /* color: #ffffff; */
  background: linear-gradient(
    to bottom,
    rgb(91, 21, 89) 20%,
    rgb(255, 255, 255) 70%
  );

  background-image: linear-gradient(
    rgb(45, 60, 85) 40%,
    rgb(255, 255, 255) 100%
  );
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  /* background-repeat-x: initial;
  background-repeat-y: initial; */
  background-attachment: initial;
  background-origin: initial;
  background-color: initial;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  line-height: 1.2;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}
.tph {
  background-color: #f3f5f7;
  padding: 20px;
  margin: 130px auto -30px auto; /* Center horizontally and add top and bottom margin */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Optional: Set a maximum width */
}

h3 {
  font-size: x-large;
  color: #614e1a;
text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}
.fog-low {
  filter: brightness(60%);
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -35%;
  margin-bottom: -50px;
  width: 110%;
  opacity: 0.85;
}
.center-text
{
  text-align: center;
}
.presentation-subtitle {
  font-size: 1.7em;
  color: #ffffff;
}

.text-center {
  text-align: center !important;
}

h2 {
  line-height: 1.2;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 200;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.IconsFlex {
  display: flex;
  margin-bottom: 60px;
}
.IconsContainer {
  font-size: x-large;
  position: relative;
  margin-top: 45px;
  margin-right: 20px;
  color: rgb(255, 255, 255);
}

.containerFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



@media (min-width: 576px) {
  .containerFooter {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .containerFooter {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .containerFooter {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .containerFooter {
    max-width: 1140px;
  }
}


@media screen and (max-width:480px) {
  .page-header {
    overflow: hidden;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
  }
  
  .content-center {
      left: 0%;
  }
  .container {
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
  }
  .presentation-title {
    font-size: 7em;
    margin-left: 10px;
  }
.productHome {
    margin: 3% 3% 3% 5%;
}
img.medium {
  height:140px;
  width: 140px;
}
.card1{
  width: 40%;

}
}
.home-container {
  position: relative;
}

.col-footer {
  background-color: #e4e4e4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  
}

.col-footer h5 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.col-footer p {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10px;
}

.navbar a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-style: 18px;
  
}

.navbar a:hover {
  text-decoration: underline;
}

/* Main content */
.main-content {
  padding: 20px 0;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  flex: 1 0 calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.product-item img {
  max-width: 100%;
  height: auto;
}

.product-item h2 {
  margin-top: 10px;
  font-size: 18px;
}

.product-item p {
  color: #666;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.IconsFlex {
  display: flex;
  justify-content: center; /* Centrer horizontalement les éléments */
}

.IconsContainer {
  margin: 0 5px; /* Marge entre les icônes, ajustez selon vos préférences */
}

/* CSS */
.navbar {
  display: flex;
  justify-content: space-between; /* Aligne les éléments sur les côtés */
  align-items: center; /* Centre les éléments verticalement */
  padding: 10px 20px;
  background-color: #333; /* Couleur de fond de la barre de navigation */
}

.logo a {
  color: #fff; /* Couleur du texte du logo */
  font-size: 1.5rem; /* Taille de police du logo */
  text-decoration: none;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff; /* Ajoutez votre couleur d'arrière-plan désirée */
}

.logo {
  margin-right: auto; /* Cela poussera le logo vers la gauche */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px; /* Marge entre les éléments de navigation */
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1 }


.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #fff; /* Couleur du texte des liens de navigation */
  text-decoration: none;
  font-size: 1.2rem; /* Taille de police des liens de navigation */
}

.navbar-functions {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; /* Aligne le contenu du dropdown à droite */
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between; /* aligne les éléments sur les côtés */
  align-items: center; /* centre les éléments verticalement */
  padding: 10px 20px;
  background-color: #333; /* couleur de fond de la barre de navigation */
}

.logo {
  display: flex; /* pour que le logo soit aligné à gauche */
  align-items: center; /* centre l'image verticalement */
}

.logo img {
  width: 100px; /* largeur de l'image */
  height: auto; /* hauteur automatique pour conserver les proportions */
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #fff; /* couleur du texte des liens de navigation */
  text-decoration: none;
  font-size: 1.2rem; /* taille de police des liens de navigation */
}

.navbar-functions {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; /* aligne le contenu du dropdown à droite */
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}






